<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot의 logback 설정은 유지하면서 확장 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="set2">
        <property name="LOG_DIR" value="/home/ec2-user/app/log/kobobook-api/" />

        <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory> <!-- 30일 전 까지의 로그만 저장 -->
            </rollingPolicy>
            <encoder>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
                </pattern>
            </encoder>
        </appender>

        <root level="WARN">
            <appender-ref ref="dailyRollingFileAppender" />
        </root>
    </springProfile>

<!--    <springProfile name="local">-->
<!--        <property name="LOG_DIR" value="E:/workspace/IDEA_workspace/log/kobobook-api/" />-->

<!--        <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--                <fileNamePattern>${LOG_DIR}%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--                <maxHistory>30</maxHistory> &lt;!&ndash; 30일 전 까지의 로그만 저장 &ndash;&gt;-->
<!--            </rollingPolicy>-->
<!--            <encoder>-->
<!--                <pattern>-->
<!--                    %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n-->
<!--                </pattern>-->
<!--            </encoder>-->
<!--        </appender>-->

<!--        <root level="INFO">-->
<!--            <appender-ref ref="dailyRollingFileAppender" />-->
<!--        </root>-->
<!--    </springProfile>-->

</configuration>